:root {
}

.unity-progress-bar__progress {
    background-color: rgb(34, 179, 34);
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    height: 19px;
    justify-content: center;
    align-self: flex-start;
    align-items: auto;
}

.unity-progress-bar__background {
    background-color: rgba(253, 253, 253, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
